<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .center {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .table {
        border: 1px solid #000;
      }
      .column {
        width: 50px;
        text-align: center;
      }
    </style>
    <title>Tabela <%= tableType %></title>
  </head>
  <body>
    <div class="center">
      <table class="table">
        <thead>
          <tr>
            <th class="column">Algoritmo selecionado</th>
            <th class="column" style="background-color: #0006">
              Tamanho de RAM
            </th>
            <th class="column">String de fila de requisição</th>
            <th class="column" style="background-color: #0006">Hits</th>
            <th class="column">Page Faults</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="column" style="background-color: #0003">
              <%= tableType%>
            </td>
            <td class="column"><%= ramSize%></td>
            <td class="column" style="background-color: #0003">
              <%= pageQ.join(",") %>
            </td>
            <td><%= pageHits%></td>
            <td class="column" style="background-color: #0003">
              <%= pageFaults%>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="http://localhost:8080">Voltar</a>
    </div>
  </body>
</html>
